/* Home Page Styles */

#HomePage {
  background-image: url("UYB Photos/instawalli-139453.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: whitesmoke;
  font-family: 'Brandon Grotesque', 'Source Sans Pro', sans-serif;
}

#BodyHome {
  margin-bottom: 4%;
  position: relative;
  justify-content: center;
  text-align: center;
  overflow: scroll;
}

#communities {
  font-family: 'Brandon Grotesque', 'Source Sans Pro', sans-serif;
  color: whitesmoke;
}

#education {
    font-family: 'Brandon Grotesque', 'Source Sans Pro', sans-serif;
    color: whitesmoke;
    margin-bottom: 4%;
}

#education h2, #communities h2 {
  text-align: center; 
}

#education a, #communities a {
  text-decoration: none;
  color: whitesmoke;
}

#education a:hover, #communities a:hover {
  text-decoration: underline;
}

#BodyHome a {
  text-decoration: none;
  color: #f05a30;
}

#BodyHome a:hover {
  color: #1d2e5c;
}

#strategicPlan {
    margin-top: 2.5%;
}

#strategicPlan h2 {
    text-align: center;
}

#strategicPlan a {
  color: #f05a30;
  text-decoration: none;
}

#strategicPlan a:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 768px) {
    #education h2, #communities h2, #BodyHome h2, #strategicPlan {
        font-size: 1.9rem;
    }
    #education h3, #communities h3, #BodyHome h3 {
        font-size: 1.4rem;
    }
}

/* Bios Page Styles */
#biosPage {
  background-color: whitesmoke;
  font-family: 'Brandon Grotesque', 'Source Sans Pro', sans-serif;
}

#patti {
  margin-bottom: 5%;
  margin-top: 2.5%;
}

#ken {
  margin-bottom: 7.5%;
}

#pattiPic img {
  width: 245px;
  height: 360px;
}

#kenPic img {
  width: 245px;
  height: 360px;
}

#pattiBio {
  color: #1d2e5c;
  font-family: 'Brandon Grotesque', 'Source Sans Pro', sans-serif;
}

#pattiBio h1 {
  text-align: left;
  color: #f05a30;
}

#kenBio {
  color: #1d2e5c;
  font-family: 'Brandon Grotesque', 'Source Sans Pro', sans-serif;
}

#kenBio h1 {
  text-align: left;
  color: #f05a30;
}

#description {
  color: #1d2e5c;
  font-family: 'Brandon Grotesque', 'Source Sans Pro', sans-serif;  
}

@media only screen and (max-width: 736px) {
    #pattiPic img, #kenPic img {
    display: block;
    margin: auto;
    }
    #ken, #patti {
        margin-bottom: 10%;
    }
}

/* Education Page Styles */
#EducationPage {
  background-image: url("UYB Photos/baim-hanif-89800.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Brandon Grotesque', 'Source Sans Pro', sans-serif;
}

#Education {
  margin: auto;
  position: relative;
  justify-content: center; 
}

#Education h3 {
  color: whitesmoke;
  font-family: 'Brandon Grotesque', 'Source Sans Pro', sans-serif;
}

#Education h1 {
  color: whitesmoke;
  font-family: 'Brandon Grotesque', 'Source Sans Pro', sans-serif;
  text-align: center;
  margin-bottom: 2.5%;
}

#Education a {
  color: whitesmoke;
  font-family: 'Brandon Grotesque', 'Source Sans Pro', sans-serif;
  text-decoration: underline;
}

@media only screen and (max-width: 768px) {
  #Education h1 {
    font-size: 2.5rem;
    }
    
    #Education h3 {
    font-size: 1.2rem;
    }
}

/* Communities Page Styles */
#CommunitiesPage {
  background-image: url("UYB Photos/Screen Shot 2017-11-24 at 7.35.58 PM.png");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;  
  background-attachment: fixed;
  font-family: 'Brandon Grotesque', 'Source Sans Pro', sans-serif;
}

#CirclesHeading h1 {
  font-family: 'Brandon Grotesque', 'Source Sans Pro', sans-serif;
  color: whitesmoke;
  text-align: center;
  margin-bottom: 2.5%;
}

#AboutCircles {
  font-family: 'Brandon Grotesque', 'Source Sans Pro', sans-serif;
  color: whitesmoke; 
}

#CirclesContinued {
  font-family: 'Brandon Grotesque', 'Source Sans Pro', sans-serif;
  color: whitesmoke;
  text-align: left;
}

#CirclesContinued h3 {
  font-family: 'Brandon Grotesque', 'Source Sans Pro', sans-serif;
  color: whitesmoke;
  text-align: left;
}

#AboutCircles h2, #CirclesContinued, h2 {
    text-align: center;
}

#CirclesContinued li {
  font-family: 'Brandon Grotesque', 'Source Sans Pro', sans-serif;
  color: whitesmoke;
  text-align: left;
  font-size: 1.5rem;
}

@media only screen and (max-width: 768px) {
  #CommunitiesPage h1 {
        font-size: 2.6rem;
    }
    
    #CommunitiesPage h2 {
        font-size: 1.9rem;
    }
    
    #CommunitiesPage h3 {
        font-size: 1.2rem;
    }
    #CirclesContinued li {
        font-size: 1.2rem;
    }
}

/* Volunteer Page Styles */
#VolunteerPage {
  background-image: url("UYB Photos/jonatan-pie-198664.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Brandon Grotesque', 'Source Sans Pro', sans-serif;
}

#VolunteerPage h1 {
  font-family: 'Brandon Grotesque', 'Source Sans Pro', sans-serif;
  color: whitesmoke;
  text-align: center;
  margin-bottom: 4.5%;
}

#Board {
  font-family: 'Brandon Grotesque', 'Source Sans Pro', sans-serif;
  color: whitesmoke;
  text-align: center;
}

#volunteer {
  font-family: 'Brandon Grotesque', 'Source Sans Pro', sans-serif;
  color: whitesmoke;
  text-align: center;
}

#volunteer li {
  font-family: 'Brandon Grotesque', 'Source Sans Pro', sans-serif;
  color: whitesmoke;
  text-align: left;
}

#volunteer li a {
  font-family: 'Brandon Grotesque', 'Source Sans Pro', sans-serif;
  color: whitesmoke;
  text-align: left;
}

#VolunteerPage .btn {
  position: relative;
  left: 50%;
  transform: translate(-50%,-50%);
  padding: 7.5px;
  background-color: rgba(29,46,92,0.75);
  margin-top: 25px;
  margin-bottom: 0px;
  border-radius: 5px;
  width: 160px;
}

#VolunteerPage .btn:hover {
  background-color: rgba(240,90,48,0.75);
  width: 185px;
}

#VolunteerPage .btn a {
    text-decoration: none;
    color: whitesmoke;
    font-size: 1.5rem;
}


@media only screen and (max-width: 768px) {
  #VolunteerPage h1 {
      font-size: 2rem;
    }
    
    #VolunteerPage h2 {
      font-size: 1.6rem;
    }
    
    #VolunteerPage h3 {
      font-size: 1.2rem;
    }
    
    #VolunteerPage .btn a {
      font-size: 1.1rem;
    }
}

/* Donate Page Styles */
#DonatePage {
  background-image: url("UYB Photos/justin-luebke-43166.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Brandon Grotesque', 'Source Sans Pro', sans-serif;
}

#ComingSoon h1 {
  text-align: center;
  font-family: cursive;
  font-size: 7.5rem;
  color: whitesmoke;
  margin-top: 75px;
  margin-bottom: 75px;
}

#comingSoon h2 {
  text-align: center;
  font-family: cursive;
  color: whitesmoke;
  margin-top: 75px;
}

#payment form{ 
  position: absolute;
  left:50%;
  transform: translate(-50%,-50%);
}

@media only screen and (max-width: 768px){
  #comingSoon h2 {
    font-size: 1.5rem;
    margin-top: 50px;
    margin-bottom: 25px;
    }
  #ComingSoon h1 {
    font-size: 3.41rem; 
    margin-top: 25px;
    margin-bottom: 50px;
    }
}

/* Logo styles */
.logo img {
  width: 20%;
  margin: 0%;
}

.logo h5 {
  margin: 0%;
  font-family: 'Marker Felt', sans-serif;
  font-style: italic;
  font-size: 1.2rem;
  position: relative;
  margin-left: 9%;
  color: rgb(240,90,48);
  width: 12.5%;
}

@media only screen and (max-width: 768px){
  .logo h5 {
    width: 25%;
    font-size: .5rem;
    position: relative;
    margin-left: 7%;
    }
}

#thankYouPage {
  background-image: url("UYB Photos/jonatan-pie-234237.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.thankYou h1{
  text-align: center;
  font-family: fantasy, 'Brandon Grotesque', 'Source Sans Pro', sans-serif;
  font-size: 8rem;
  margin-top: 12.5%;
  color: whitesmoke;
  height: 100%;
}

@media only screen and (max-width: 768px) {
  .thankYou h1 {
    margin: auto;
    width: 95%;
    font-size: 2.8rem;
    margin-top: 10%;
    }
}

/* Photo Credit Style */
.photoCred {
  position: fixed;
  bottom: 0px;
  left: 0px;
}

/* Misc Styles */

.fa-plus {
    color: #1d2e5c;
    margin-left: 2%;
}

.fa-minus {
    color: #1d2e5c;
    margin-left: 2%;
}

#navIcon {
    width: 15px;
    font-size: 16px;
    color: whitesmoke;
}

.fa-caret {
    transition: 0.4s;
    transform: rotate(180deg);
}

@media only screen and (max-width: 768px) {
    .fa-plus {
        color: #1d2e5c;
        margin-left: 1%;
}

    .fa-minus {
        color: #1d2e5c;
        margin-left: 1%;
}
}

#social:hover {
    background-color: rgba(0,0,0,0);
}

#social:active {
    background-color: rgba(0,0,0,0);
}

#social:focus {
    background-color: rgba(0,0,0,0);
}

@media only screen and (max-width: 768px) {
    #social {
        float: left;
    }
}

/* Initiative Page Styles */
#initiativePage {
    background-color: whitesmoke;
    color: #1d2e5c;
    font-family: 'Brandon Grotesque', 'Source Sans Pro', sans-serif;
}

#initiativePage .btn-primary {
    margin-left: 2%;
    background-color: #1d2e5c;
    border: none;
}

#initiativePage .btn-primary:hover {
    background-color: #f05a30;
    border: none;
}

@media only screen and (max-width: 768px) {
    #initiativePage h1 {
        font-size: 2rem;
    }
    #initiativePage h3 {
        font-size: 1.25rem;
    }
    
}

@media only screen and (max-width: 700px) {
  #initiativePage h1 {
    font-size: 1.7rem;
    }
    #initiativePage h3 {
        font-size: 1rem;
    }
}

/* Spread the Word Page Styles */
#spreadTheWordPage {
    background-color: whitesmoke;
    color: whitesmoke;
    font-family: 'Brandon Grotesque', 'Source Sans Pro', sans-serif;
    background-image: url("UYB Photos/Screen Shot 2017-11-24 at 7.31.39 PM.png");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#spreadTheWordPage h2 {
    text-align: ;
}

#spreadTheWordPage h1 {
    text-align: center;
}

#spreadTheWordPage .btn-primary{
    margin-left: 2%;
}

#spreadTheWordPage .footer {
    text-align: right;
    position: sticky;
    bottom: 0;
}

#spreadTheWordPage .btn-primary {
    margin-left: 2%;
    background-color: #1d2e5c;
    border: none;
}
#spreadTheWordPage .btn-primary:hover {
    background-color: #f05a30;
    border: none;
}

@media only screen and (max-width: 700px) {
    #spreadTheWordPage h2 {
        font-size: 1.7rem;
        text-align: left;
    }
    #spreadTheWordPage h3 {
        font-size: 1.2rem;
        text-align: left;
    }
}

#applicationPage {
    background-color: whitesmoke;
}

.navbar-nav .nav-item {
    border-bottom: 1px solid #55B9DB;
}

.navbar-nav .nav-item:hover {
    background-color: #f05a30;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.dropdown-menu {
    background-color: #1d2e5c;
}

.dropdown-item {
    color: whitesmoke;
}

.dropdown-item:hover {
    background-color: #f05a30;
    color: whitesmoke;
}

.active {
    background-color: #f05a30;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.navbar-nav .active {
    border-bottom: 1px solid #f05a30;
}

